/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   main.css                                           :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/06/30 17:18:17 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/08/26 13:35:47 by W2Wizard      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse at bottom, #002534 25%, #090a0f 100%);
}
