/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   main.css                                           :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/06/30 17:18:17 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/08/26 13:35:47 by W2Wizard      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

body {
	font-family: 'Segoe UI';
	background: #2a2a36;
	min-width: 600px;
	margin: 8px;
	overflow: hidden;
}

#galaxy-graph {
	width: 100%;
	display: block;
	border-radius: 8px;
	background: radial-gradient(ellipse at bottom, #002534 25%, #090a0f 100%);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#graph-content {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	margin: 1rem;
	color: #ecf0f1;
	border: solid 1px gray;
	background-color: rgba(6,19,28,0.68);
    border-radius: 5px;
    padding: 20px;
}
